.usercardContainer {
    display: flex;
    min-height: 5rem;
    max-height: 5rem;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.usercardContainer:hover {
    background-color: #faf4f469;
}

.usercardImgHolder {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    border-radius: 50%;
}

.usernameandLastmessage {
    margin-left: 2rem;
}

.usernameandLastmessage p:nth-child(1) {
    font-size: 1.3rem;
    color: var(--maintext);
}

.usernameandLastmessage p:nth-child(2) {
    font-size: 1rem;
    color: var(--subtext);
}

.usercardImgContainer {
    display: flex;
    align-items: center;
}

.lastmessageandnotificationContainer {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.lastmessageandnotificationContainer p:nth-child(1) {
    color: var(--maintext);
}

.badgeContainer {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--maintext);
    margin-top: .5rem;
}