@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.light {
  --primary: #f5f6fa;
  --secondary: #ffffff;
  --acent: #f1f2f7;
  --maintext: #111111;
  --subtext: gray;
  --oppositeuser: #dddee4;
  --oppositecolor: #f5f6fa;
}

.dark {
  --primary: #4040404;
  --secondary: #121212;
  --acent: #1e1e1e;
  --maintext: #ffffff;
  --subtext: gray;
  --oppositeuser: #3a3d45;
  --oppositecolor: #ffffff;

}

:root {
  font-size: 10px;
}